

<section class="bg-gray-50 dark:bg-gray-900">
    <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
    >
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
        >
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="flex justify-center items-center mb-6">
                    <a
                        href="#"
                        class="flex flex-col items-center text-3xl font-semibold text-primary"
                    >
                        <img
                            class="w-20 h-auto mb-2"
                            src="../public/logos.png"
                            alt="logo"
                        />
                        Flytransfersmx
                    </a>
                </div>

                <form class="space-y-6 bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md w-full max-w-md mx-auto">
  <h2 class="text-2xl font-bold text-center text-gray-800 dark:text-white">Iniciar Sesion</h2>

  <div class="relative">
    <input
      type="email"
      id="email"
      name="email"
      required
      class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-2.5 pb-1.5 pt-4 text-sm text-gray-900 dark:text-white dark:border-gray-600 focus:border-primary focus:outline-none focus:ring-0"
      placeholder=" "
    />
    <label
      for="email"
      class="absolute left-2.5 top-3 z-10 origin-[0] -translate-y-3 scale-75 transform text-sm text-gray-500 transition-all peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:translate-y-[-12px] peer-focus:scale-75 peer-focus:text-blue-600 dark:text-gray-400 dark:peer-focus:text-blue-500"
    >
      Correo electronico
    </label>
  </div>

  <div class="relative">
    <input
      type="password"
      id="password"
      name="password"
      required
      class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-2.5 pb-1.5 pt-4 text-sm text-gray-900 dark:text-white dark:border-gray-600 focus:border-primary focus:outline-none focus:ring-0"
      placeholder=" "
    />
    <label
      for="password"
      class="absolute left-2.5 top-3 z-10 origin-[0] -translate-y-3 scale-75 transform text-sm text-gray-500 transition-all peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:translate-y-[-12px] peer-focus:scale-75 peer-focus:text-blue-600 dark:text-gray-400 dark:peer-focus:text-blue-500"
    >
      Contrasena
    </label>
  </div>

  <!-- Recordarme y enlace -->
  <div class="flex items-center justify-between">
    <label class="flex items-center gap-2 text-sm text-gray-500 dark:text-gray-300">
      <input
        id="remember"
        name="remember"
        type="checkbox"
        class="h-4 w-4 rounded border-gray-300 bg-gray-50 focus:ring-2 focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800"
      />
      Recordarme
    </label>
    <a href="#" class="text-sm font-medium text-primary hover:underline dark:text-primary">
    ¿Olvidaste tu contrasena?
    </a>
  </div>

  <!-- Botón de envío -->
  <button
    type="submit"
    class="w-full rounded-lg bg-blue-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary focus:outline-none focus:ring-4 focus:ring-primary dark:bg-primary dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Iniciar sesion
  </button>

</form>

            </div>
        </div>
    </div>
</section>
<button data-modal-target="progress-modal" data-modal-toggle="progress-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
  Toggle modal
</button>