<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Flytransfersmx - Your go-to solution for seamless transfers." />
		<meta name="keywords" content="transfers, logistics, delivery, flytransfersmx" />
		<meta name="author" content="Flytransfersmx Team" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logos.png" />
		<meta name="viewport" content="viewport-fit=cover">
		<meta name="generator" content={Astro.generator} />
		<script src="/js/flowbite.min.js" defer></script>

		<title>Flytransfersmx</title>
	</head>
	<body class="bg-tryary text-base-content">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
